.Gallery {
  padding: 2rem;
  background-color: white;
  color: black;
  text-align: center;
}

.Gallery h1,
.Gallery-item {
  margin-bottom: 3rem; 
  font-size: 2rem;
}

.Gallery-images {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap; 
}

.Gallery-images img {
  width: 100%;
  height: auto; 
  max-width: 400px; 
  border-radius: 8px;
}

@media screen and (max-width: 1200px) {
  .Gallery h1,
  .Gallery-item {
    font-size: 1.8rem; 
    margin-bottom: 2.5rem; 
  }
}

@media screen and (max-width: 768px) {
  .Gallery-images {
    flex-direction: column;
    align-items: center;
  }

  .Gallery h1,
  .Gallery-item {
    margin-bottom: 2rem; 
    font-size: 1.6rem; 
  }

  .Gallery-images img {
    width: 100%;
    max-width: 300px; 
    height: auto;
    margin-bottom: 2rem; 
  }
}

@media screen and (max-width: 480px) {
  .Gallery h1,
  .Gallery-item {
    font-size: 1.4rem; 
    margin-bottom: 1.5rem; 
  }

  .Gallery-images img {
    max-width: 90%; 
    margin-bottom: 1.5rem;
  }
}

