/* Overlay styles */
.booking-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal content styles */
.booking-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

.booking-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.booking-form {
  display: flex;
  flex-direction: column;
}

.form-info {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.form-input,
.form-selection {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  font-size: 1rem;
  border-radius: 4px;
  background-color: white;
  color: black;
}

.book-button {
  padding: 10px;
  background-color: #ffb347;
  border: none;
  border-radius: 4px;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.book-button:hover {
  background-color: #ff9a00;
}

.confirmation-message {
  text-align: center;
  margin-top: 20px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .booking-content {
    padding: 15px;
  }

  .booking-title {
    font-size: 1.8rem;
  }

  .form-info {
    font-size: 1rem;
  }

  .form-input,
  .form-selection {
    padding: 8px;
    font-size: 0.9rem;
  }

  .book-button {
    font-size: 0.9rem;
    padding: 8px;
  }
}

@media screen and (max-width: 480px) {
  .booking-content {
    padding: 10px;
  }

  .booking-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .form-info {
    font-size: 0.9rem;
  }

  .form-input,
  .form-selection {
    padding: 6px;
    font-size: 0.8rem;
  }

  .book-button {
    font-size: 0.8rem;
    padding: 6px;
  }
}
